VITE_LINKEDIN_URL=https://www.linkedin.com/in/israel-philips-0ab274202
VITE_CONTACT_EMAIL=israelphils.tech@gmail.com
VITE_PROJECT_PRYMAGENT_URL=https://prymagent.com
VITE_PROJECT_IWACUMO_URL=https://www.iwacumo.com
VITE_PROJECT_PREPADI_URL=https://www.prepadi.online
VITE_PROJECT_WORKIETECHIE_URL=https://workietechie.com
